body {
	background: white;
}

.blockquote {
	padding: 0.5rem 1rem;
	margin-bottom: 3rem;
	font-size: 1.25rem;
	border-left: 0;
	text-align: center;
	display: inline;
	width: 100%
}

.blockquote p::before{
	content: open-quote;
	font-size: 60pt;
	text-align: center;
	line-height: 25px;
	position: relative;
	margin: 0;
	padding: 0;
}

.blockquote p::after{
	content: close-quote;
	font-size: 60pt;
	text-align: center;
	line-height: 25px;
	position: relative;
}

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #636c72;
}

.blockquote-footer::before {
  content: "\2014 \00A0";
}

.carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active {
  background-color: rgba(0, 0, 0, 0.75);
}

.jumbotron {
	background-image: url(../img/jumbotron.jpeg);
	background-size: cover;
}

.rounded-circle {
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

#header {
	background-color: rgba(255,255,255,0.25);
	
}